body{
    background-color: rgb(158, 107, 189);
}
.todoAppWrapper{
    max-width: 530px;
    margin: 0 auto;
    background-color: aliceblue;
}
a{
    color: #595959;
    text-decoration: none;
}
h1{
    margin: 0;
}
.taskWrapper{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-top: 1px solid black;
}
.loginANDlogout{
    padding: 20px;
}
.loginANDlogout a{
    color: red;
}
.searchWrapper{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
label{
    display: block;
}
